{{#if hasTipos}}
  <div class="m-3">

    <h1 class="text-center">Administrador - Tipos</h1>
    <a href="/modTipos" class="btn btn-success m-1">+ Nuevo tipo</a>
    <div class="row">
      {{#each Tipos}}
        <div class="col-12 col-sm-2 mt-3">
          <div
            class="card shadow"
            style="border-top-left-radius: 10px; border-top-right-radius: 10px;"
          >
            <h5
              class="card-title text-center mt-3"
              style="max-width: 500px;"
            >{{this.tipo}}
            </h5>
            <div class="card-body">
              <div class="d-flex justify-content-center">
                <form
                  method="post"
                  action="/EliminarTipos"
                  class="form-delete"
                  onsubmit="return confirm('¿Estás seguro de que deseas eliminar este tipo?');"
                >
                  <a
                    href="/EditarTipo/{{this.id}}"
                    class="btn btn-primary me-2"
                  >
                    Editar
                  </a>
                  <input type="hidden" value="{{this.id}}" name="TipoId" />
                  <button type="submit" class="btn btn-danger delete">
                    Borrar
                  </button>
                </form>
              </div>

            </div>
          </div>
        </div>
      {{/each}}
    </div>

  </div>
{{else}}
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <h1>No se encontraron Tipos.</h1>
      <a href="/modTipos" class="btn btn-success mt-3">+ Nuevo Tipo</a>
    </div>
  </div>
{{/if}}
