<div class="container text-center mt-5">
        <h2 class="display-4">404 - Página No Encontrada</h2>
        <p class="lead">Tas perdido, xd</p>
        <a href="/" class="btn btn-primary">Home</a>
    </div>
