{{#if hasRegion}}
  <div class="m-3">

    <h1 class="text-center">Administrador - Regiones</h1>
    <a href="/modRegiones" class="btn btn-success m-1">+ Nueva region</a>
    {{! Hay que cambiar esto too, xd }}
    <div class="row">
      {{#each Regiones}}
        <div class="col-12 col-sm-2 mt-3">
          <div
            class="card shadow"
            style="border-top-left-radius: 10px; border-top-right-radius: 10px;"
          >
            <h5
              class="card-title text-center mt-3"
              style="max-width: 500px;"
            >{{this.region}}
            </h5>
            <div class="card-body">
              <div class="d-flex justify-content-center">
                <form method="post" action="/EliminarRegiones" class="form-delete">
                  <a
                    href="/EditarRegion/{{this.id}}"
                    class="btn btn-primary me-2"
                  >
                    Editar
                  </a>
                  <input type="hidden" value="{{this.id}}" name="RegiId" />
                  <button type="submit" class="btn btn-danger delete">
                    Borrar
                  </button>
                </form>
              </div>

            </div>

          </div>
        </div>
      {{/each}}
    </div>

  </div>
{{else}}
  <div class="">
    <h1>No se encontraron regiones.</h1>
    <a href="/modRegiones" class="btn btn-success">+ Nuevo genero</a>

  </div>
{{/if}}
