<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      Formulario de Regiones
    </div>
    <div class="card-body">
      <form method="POST" action="/{{#if EditMode}}SeriesEdit{{else}}addRegiones{{/if}}">
        <div class="form-group">
          <label for="title" class="form-label">Nombre:</label>
          <input type="text" {{#if EditMode}} value="{{Serie.name}}" {{/if}} class="form-control" id="title" name="Title" required/>
        </div>
        <div>
          <button type="submit" class="btn btn-primary mt-3 float-end">Enviar</button>
          <a href="/indexRegiones" class="btn btn-warning mt-3 float-end me-3">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
